[submodule "CookCookhNya-frontend"]
	path = CookCookhNya-frontend
	url = https://github.com/Endpool/CookCookhNya-frontend
[submodule "CookCookhNya-backend"]
	path = CookCookhNya-backend
	url = https://github.com/Endpool/CookCookhNya-backend
