[submodule "CookCookhNya-frontend"]
	path = frontend
	url = https://github.com/Endpool/CookCookhNya-frontend
[submodule "CookCookhNya-backend"]
	path = backend
	url = https://github.com/Endpool/CookCookhNya-backend
